<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp11.Properties.Settings.OtobusBiletOtomasyonuConnectionString"
            connectionString="Data Source=BRKDNZ75\SQLEXPRESS;Initial Catalog=OtobusBiletOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>